  <% if object.errors.any? %>
    <div class="alert alert-error">
      <p>
        <strong>Sorry, there was a problem with the info you provided. </strong>
       Please correct your information in the form below and try again.
      </p>

      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
