<%= render 'shared/show_flash' %>


	<header id="overview" class="subhead page-header">
		<div class="container">
			<h1>Lakeville Juniors volleyball</h1>
			<p class="lead">Youth volleyball leagues and instruction for girls</p>
		</div>
	</header>

<h3>Fall 2012 volleyball league is now in session</h3>
<p>
	Thanks for your interest in Lakeville volleyball! 
	There are almost 200 players participating in this fall's youth volleyball league. 
	Don't miss out on next's spring's session - we'll be collecting registrations soon. 
	Watch this page for more information about dates and registration. 
</p>
