<%= render 'shared/show_flash' %>


<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>Lakeville Juniors volleyball</h1>
		<p class="lead">Youth volleyball leagues and instruction for girls</p>
	</div>
</header>

<h3>Spring 2013 volleyball league scheduled!</h3>
<p>
	Our dates for the spring in-house league are set!
	We are planning the same format for spring and would love to have playing with us again in the spring.  
	Please check back in January for online registration to be open. 
</p>
<p><%= league_when_and_where_grid(false).html_safe %></p>

<h3>Fall 2012 volleyball league just concluded</h3>
<p>
	Congratulations to our fall volleyball players - our tournament day was a huge success! 
	We had 200+ players participating in this past fall league. 
	Don't miss out on next's spring's session - registration should open in January.  
</p>
