<header id="overview" class="subhead page-header">
	<div class="container">
		<h1><%= APP_SHORT_NAME %> Staff</h1>
	</div>
</header>

<section id="staff">
  <div>
    <h3>Traveling coaches</h3>
    <dl>
      <dt>
        Stephen Willingham
      </dt>
      <dd>
        UM assistant (2 years). 
        Lakeville HS varsity assistant (19 years). 
        Lakeville North varsity head coach (1 year).
        Lakeville Schools Physical Education specialist (current)
        Lakeville South varsity head coach (current).
      </dd>
      <dt>
        Denielle Johnson
      </dt>
      <dd>
        Augsburg College (4 year setter/DS). 
        Panther VBC (Spring Lake Park) coach, director (7 years). 
        Lakeville South varsity assistant (current).
        Lakeville Juniors 13s, 15s, director (current).
      </dd>
      <dt>
        Penny Starkey
      </dt>
      <dd>
        University of St Thomas player (4 years, All-American).
        Univeristy of St Thomas assistant coach, 
        Lakeville Juniors coach (current).
      </dd>
      <dt>
        Wendy Welsch
      </dt>
      <dd>
        Lakeville Juniors coach (current)
      </dd>
      <dt>
        John Larson
      </dt>
      <dd>
        Bethel University player,
        Lakeville Juniors coach (current)
      </dd>
      <dt>
        Mindy Erdal
      </dt>
      <dd>
        Hopkins Schools Physical Education specialist.
        Lakeville Juniors coach (current).
      </dd>
      <dt>
        Bekki Wiseman
      </dt>
      <dd>
        Lakeville Juniors coach (current).
      </dd>
      <dt>
        Jill Osborne
      </dt>
      <dd>
        University of St Thomas (player).
        Lakeville HS 10A/9A coach.
        Lakeville Juniors coach (current).
      </dd>
      <dt>
        Pisith Lim
      </dt>
      <dd>
        Battambang Province player (2 years).
        Thmor Kol HS assistant coach and trainer (2 years).
        Lakeville Juniors coach (current).
      </dd>
    </dl>
</section>
