@import "bootstrap";
body		{ padding-top:60px; }
@import "bootstrap-responsive";

.shrink		{ 
	width:1%;
	white-space:nowrap; 
}


/* -- set rails form error styles -- */
.field_with_errors label {
	color:red;
	font-weight:bold;
}
.field_with_errors input,
.field_with_errors select,
.field_with_errors input[type='checkbox'] {
	border-color:red;
}

/* -- set boostrap nav bar selected links -- */
.pages.home nav a.home,
.pages.about nav a.about,
.pages.privacy nav a.privacy,
.pages.contact nav a.contact,
.sessions.new nav a.signin {
	color:#fff;
	font-weight:bold;
}
